* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    font-size: 16px;
}

ul {
    list-style: none;
}

.dark-mode {
    color: #fff;
    background-color: #212126;
}

/* NAVBAR SECTION STARTS HERE */

.nav_section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 20px;
    /* margin-top: 20px;
    margin-right: 320px; */
}

.nav_section nav {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav_section img {
    width: 200px;
    height: auto;
}

.nav_section a {
    color: rgb(36, 36, 36);
    /* margin-left: 30px; */
}

.nav_section span {
    /* margin-left: 25px; */
    color: #6851ff;
}

.ui-switch {
    --switch-bg: rgb(135, 150, 165);
    --switch-width: 48px;
    --switch-height: 20px;
    --circle-diameter: 32px;
    --circle-bg: rgb(0, 56, 146);
    --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
}

.ui-switch input {
    display: none;
}

.slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: var(--switch-width);
    height: var(--switch-height);
    background: var(--switch-bg);
    border-radius: 999px;
    position: relative;
    cursor: pointer;
}

.slider .circle {
    top: calc(var(--circle-inset) * -1);
    left: 0;
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    position: absolute;
    background: var(--circle-bg);
    border-radius: inherit;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    ;
}

.slider .circle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.75);
    border-radius: inherit;
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
    opacity: 0;
}

.ui-switch input:checked+.slider .circle {
    left: calc(100% - var(--circle-diameter));
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
}

.ui-switch input:active+.slider .circle::before {
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
    opacity: 1;
    width: 0;
    height: 0;
}

/* NAVBAR SECTION ENDS HERE */

.toggle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 50px; */
}

.toggle-input {
    display: none;
}

.toggle-label {
    width: 300px;
    height: 70px;
    background-color: #fff;
    border: 2px solid #e0d9f7;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.toggle-button {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 144px;
    height: 58px;
    background-color: #6347f9;
    border-radius: 40px;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    box-shadow: 0 5px 15px rgba(99, 71, 249, 0.4);
}

.label-text {
    font-family: Arial, sans-serif;
    font-weight: bolder;
    font-size: 16px;
    z-index: 2;
    transition: color 0.3s;
    pointer-events: none;
}

.left {
    color: white;
}

.right {
    color: #7a869a;
}

.toggle-input:checked+.toggle-label .toggle-button {
    left: 148px;
}

.toggle-input:checked+.toggle-label .left {
    color: #7a869a;
}

.toggle-input:checked+.toggle-label .right {
    color: white;
}

.hero_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-top: 70px; */
}

.hero_section label {
    font-size: 20px;
    margin-bottom: 15px;
}

.hero_section h1 {
    font-family: "roboto", sans-serif;
    font-size: 5rem;
    line-height: 1.4;
    font-weight: 800;
    text-align: center;
    background: linear-gradient(106.43deg, #4923d1, #6bdcff 95.12%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.hero_section p {
    font-size: 19px;
    text-align: center;
    margin: 20px auto;
    width: 60%;
}

.hero_section input {
    height: 40px;
    width: 40%;
    margin: 0px 0px 0px 374px;
    border: 0.5px solid black;
    padding-left: 14px;
    font-size: 14px;
    border-right: none;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.input {
    display: flex;
}

.input img {
    border: 1px solid black;
    border-left: none;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.MainSec1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.FindJobs {
    font-weight: bold;
    font-size: 16px;
    background-color: #6851ff;
    color: white;
    border: 1px solid;
    border-radius: 50px;
    padding: 15px 32px 14px 32px;
    margin-top: 34px;
}

.MainSec1 p {
    color: #6851ff;
    font-weight: bolder;
    font-size: 30px;
    margin-top: 25px;
}

.hero,
.hero2 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: -25px;
}

.hero1,
.heroin {
    font-weight: bold;
    font-size: 16px;
    background-color: #ffffff;
    color: #6851ff;
    border: 1px solid;
    border-radius: 7px;
    padding: 8px 15px 8px 15px;
    margin-top: 34px;
}


.cartoonshad {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    margin-top: 50px;
}

.get_hired {
    margin-top: 150px;
}

.climb_man_section h1 {
    text-align: center;
    margin: 30px 20%;
    text-align: center;
    background: linear-gradient(106.43deg, #4923d1, #6bdcff 95.12%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-size: 50px;
}

.climb_man_section img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.carousel_card {
    text-align: center;
    margin: 50px 40px 0px 40px;
    font-size: 40px;
    color: #6851FF;
}

.carousel_card span {
    color: #3f3f3f;
}

.get_hired_h1 {
    text-align: center;
    font-size: 45px;
    color: #3f3f3f;
}

.paper {
    display: flex;
    gap: 150px;
}

.card1 {
    border: 1px solid black;
    box-shadow: #3f3f3f;
}

.card1 h6 {
    font-weight: bold;
}


.carousel_card_section {
    /* margin-top: 75px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 60px;
    flex-wrap: wrap;
    gap: 20px;
}

.carousel_1 {
    display: flex;
    /* flex-wrap: wrap; */
    border: 1px solid rgb(197, 197, 197);
    /* width: 100%; */
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.carousel_1:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-4px);
}

.card1,
.card3,
.card5 {
    height: 170px;
    border: none;
}

.card1 p,
.card3 p,
.card5 p {
    color: rgb(99, 99, 99);
    margin: 3px 0px 0px 5px;
}

.card1 h4,
.card3 h4,
.card5 h4 {
    margin: 3px 0px 0px 3px;
}

.card1 h5,
.card3 h5,
.card5 h5 {
    color: #6851ff;
    margin: 7px 0px 136px 5px;
}

.card1 span,
.card3 span,
.card5 span {
    margin-left: 3px;
    color: rgb(99, 99, 99);
}

.card2 img,
.card4 img,
.card6 img {
    height: 30px;
    width: 40px;
    margin: 0px 0px 155px 26px;
}

.card2 p,
.card4 p,
.card6 p {
    margin-bottom: 10px;
}

.card2 h6,
.card4 h6,
.card6 h6 {
    color: rgb(99, 99, 99);
    font-size: 15px;
    margin-left: -65px;
}

.card2 span,
.card4 span,
.card6 span {
    color: #6851ff;
}


.hero_section_p {
    text-align: center;
    font-size: 20px;
    line-height: 1.7;
    /* margin: 17px 0px 51px 305px; */
    width: 50%;
}

.find_talent_btn {
    font-weight: bold;
    font-size: 16px;
    background-color: #009FDA;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 15px 32px 14px 32px;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.3s ease;

    box-shadow:
        0 8px 20px rgba(0, 159, 218, 0.4),
        inset 0 0 12px rgba(255, 255, 255, 0.3);
}

.find_talent_btn:hover {
    box-shadow:
        0 10px 25px rgba(0, 159, 218, 0.6),
        inset 0 0 15px rgba(255, 255, 255, 0.5);
    transform: translateY(-2px);
}

.MainSection h3 {
    text-align: center;
    color: #7E43F3;
    font-weight: bolder;
    font-size: 2rem;
    margin-top: 30px;
}

.jobs_skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 30px;
    width: 70%;
}

.jobs_skills p {
    text-align: center;
    font-weight: bold;
    color: #7E43F3;
    border: 1px solid #7E43F3;
    padding: 10px 20px;
    border-radius: 10px;
    white-space: nowrap;
    font-size: 1rem;
    cursor: pointer;
    width: auto;
    min-width: 100px;
    flex-grow: 0;
    margin: 0;
    transition: all 0.3s ease;
}

.gradient_cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 50px 50px;
}

.card {
    background: linear-gradient(#afa2ff77, #fafafa);
    width: 300px;
    flex: 1 1 200px;
    height: 200px;
    margin: 10px;
    border-radius: 24px;
    border: 1px solid #d9d2ffc5;
    padding: 20px;
    box-shadow: rgba(189, 178, 255, 0.24) 0px 4px 40px 0px;
    text-align: center;
}

.card h3 {
    color: #6851ff;
    margin-bottom: 10px;
}

.card p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
}

.card:hover {
    box-shadow: rgba(189, 178, 255, 0.4) 0px 6px 50px 0px;
    transform: translateY(-5px);
    transition: all 0.2s ease-in;
}

.avatar_section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    margin-top: 75px;
}

.webp {
    margin: 0px 0px 0px 34px;
}

.Boxes8 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    margin-top: 130px;
}

.had3 {
    text-align: center;
    color: #3f3f3f;
    ;
    font-size: 45px;
}

.career_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* flex: 1 1 150px; */
    gap: 20px;
    margin: 30px 60px;
}

.career_card {
    flex: 1 1 200px;
    background: linear-gradient(#afa2ff77, #fafafa);
    width: 250px;
    height: 200px;
    margin: 10px;
    border-radius: 24px;
    border: 1px solid #d9d2ffc5;
    padding: 20px;
    transition: all 0.2s ease-in;
    box-shadow: rgba(189, 178, 255, 0.24) 0px 4px 40px 0px;
    text-align: center;
}

.career_card:hover {
    box-shadow: rgba(189, 178, 255, 0.4) 0px 6px 50px 0px;
    transform: translateY(-5px);
    transition: all 0.2s ease-in;
}

.career_card img {
    margin-top: 35px;
}

.career_card h3 {
    color: #6851ff;
    margin-bottom: 10px;
}

.career_card p {
    color: #666;
    font-size: 17px;
    line-height: 1.5;
}

.arrow {
    display: flex;
    justify-content: end;
    margin: 0px 70px 0px 0px;
}

.job_people_imgs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
    margin: 80px;
    text-align: center;
}

.line1 {
    rotate: 90deg;
    width: 150px;
    height: 4px;
    background-color: #6851ff;
    margin: 10px auto;
    border-radius: 5px;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 50px 0px 20px 0px;
    background: linear-gradient(190deg, rgba(79, 59, 220, 1) 0%, rgba(148, 71, 254, 1) 80%);
    height: auto;
    color: white;

}

.footer1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* align-items: center; */
    width: 50%;
    margin-bottom: 30px;
}

.footer1 img {
    width: 200px;
    height: auto;
    /* margin: 90px 0px 12px 56px; */
}

.footer1 p {
    width: 50%;
    /* margin: 6px 0px 11px 50px; */
    line-height: 1.4;
}

.footer1 h3 {
    /* margin: 56px 0px 0px 47px; */
    font-size: 1.5rem;
}

.icons {
    display: flex;
    /* flex-direction: row; */
    gap: 50px;
    /* margin: 13px 0px 0px 43px; */
    font-size: 1.5rem;
}

.icons i {
    transition: transform 0.2s ease-in;
}

.icons i:hover {
    cursor: pointer;
    transform: translateY(-4px);
}

.Contact {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 200px;
    margin-bottom: 30px;

}

.Contact h4 {
    font-size: 1.5rem;
}

.Contact .email {
    display: flex;
    align-items: center;
    gap: 10px;
}   

.Privacy {
    background: #9b20ff;
    text-align: center;
    color: white;
}

.Privacy p {
    margin-top: 10px;
}

/* Additional improvements for better dark mode */

.dark-mode .nav_section a {
    color: #cccccc;
}

.dark-mode .hero_section h1 {
    text-shadow: 0 2px 10px rgba(125, 103, 255, 0.2);
}

.dark-mode .carousel_1:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
    border-color: #9d86ff;
}

.dark-mode .card {
    background: linear-gradient(#292930, #2a2a2a);
    border-color: #444;
    box-shadow: 0 10px 15px -3px rgba(96, 96, 96, 0.4);
    color: #e0e0e0;
}

.dark-mode .career_card {
    background: linear-gradient(#292930, #2a2a2a);
    border-color: #444;
    box-shadow: 0 10px 15px -3px rgba(96, 96, 96, 0.4);
    color: #e0e0e0;
}

.dark-mode .card:hover,
.dark-mode .career_card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(125, 103, 255, 0.2);
    border-color: #9d86ff;
}

.dark-mode .jobs_skills p:hover {
    background-color: #9d86ff;
    color: #121212;
    transform: translateY(-3px);
}

.dark-mode input[type="text"] {
    background-color: #2d2d2d;
    color: #ffffff;
    border-color: #444;
}

.dark-mode input[type="text"]::placeholder {
    color: #888;
}

.dark-mode .carousel_card span {
    color: #f1f1f1;
}

.dark-mode .footer, .dark-mode .Privacy {
    background: linear-gradient(190deg, rgba(50, 40, 100, 1) 0%, rgba(100, 40, 150, 1) 100%);
}
.dark-mode p {
    color: #d0d0d0;
}